@import '../../../assets//styles//base.scss';

.head {
    @include center;
    img {
        @include icon;
    }
    hr {
        @include hr;
    }
}
.Skill {
    @include wrap;
    p {
        flex: 2;
        margin: 1rem 1.8rem;
        font-size: 1rem;
    }
}
.hobbies {
  @include wrap;

    div {
        @include center;
        flex: 2;
        margin: 1rem;
        font-size: 1rem;
        img {
            @include icon;
        }
    }
}
.contact {
   @include wrap;

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1 100%;
        margin: 1rem;
        font-size: 1rem;
        img {
            @include icon;
        }
    }
}
.hr {
    display: flex;
    hr {
        @include hr;
        width: 40vh;
    }
}

@media screen and (min-width: 767px) {
    .hobbies{
        div {
            flex: 2;
            margin: 1rem;
            margin:1rem  2rem;
        }
    }
    .contact {
        display: flex;

        div {
            flex: 2;
           margin: 1rem 2rem
        }
    }
    .Skill{
        margin: 1rem 0.5rem;
        p {
            margin:1.2rem 2.5rem;
        }
    }
}
@media screen and (min-width: 992px) {
    .hobbies {
        div {
            display: flex;
            padding: 0;
            margin:1.5rem 3rem;
        }
    }
    .contact{
        display: flex;
        justify-content: center;

        div {
            display: flex;
            padding: 0;
            margin: 1.5rem 3rem;
        }
    }
    .Skill {
        margin: 1rem;
        
        p {margin: 1.5rem  3rem;
        }
    }
}
@media print {
    .cont {
        margin-top: 1rem;
        margin-bottom: 0;
        hr {
            margin-top: 10px;
        }
    }
    .contact{
        display: flex;
        div {
            flex: 2;
            margin: 3rem;
        }
    }
}
